img {
    width: auto !important;
    max-width: 100%;
}

.header {
    overflow: hidden;
    background-color: #F0F0F0;
    padding: 0px;
}

.header a {
    text-decoration: none;
    color: black;
    margin: 0px;
    border: 0px;
    padding: 20px;
}

.header a:hover {
    background-color: #E0E0F0;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    text-align: center;
    padding: 0px;
}
a.grid-item {
    text-decoration: none;
    color: black;
    margin: 0px;
    border: 0px;
}
a:hover.grid-item {
    background-color: #F0F0F0;
}

.article-body {
    padding-left: 10%;
    padding-right: 10%;
}