<!DOCTYPE html>
<html lang="en">
    <head>
        <embed-file src="parts/pghead.html"></embed-file>
    </head>
    <body>
        <embed-file src="parts/header.html"></embed-file>
        <div class="article-body">
            <p>
                Welcome to my website! I'm Bry, or you might know me as
                LithosphereRocketry or Grabhanem from other places.
                This is a site where all of my various projects live in various
                states of completeness and documentation. I have a variety of
                hobbies which will all probably end up here at some time or other,
                including retro and homebrew computing, game development, model
                rocketry, and music.
            </p>
            <p>
                Currently, there is a lot of stuff in the backlog to be written up
                here, so the site might look a little empty. Worry not - more will
                come soon.
            </p>
            <p>
                This site is hosted both on the "regular internet" via lithos.cc
                and <a href="https://wiki.cursedsilicon.net/wiki/Compu-Global-Hyper-Mega-Net">the Compu-Global-Hyper-Mega-Net</a>
                via lithos.retro. Most things should be functional from either
                location but external links may not work on CGHMN.
            </p>
            <h3>Other cool sites</h3>
            <a href="https://ascii.garden">
                <img src="media/icons/ascii_garden_widget.png" alt="apt's website button">
            </a>
        </div>
    </body>
</html>