<!DOCTYPE html>
<html lang="en">
    <head>
        <embed-file src="parts/pghead.html"></embed-file>
    </head>
    <body>
        <embed-file src="parts/header.html"></embed-file>
        <div class="article-body">
            <p>
                Welcome to my website! I'm LithosphereRocketry on most code-related
                platforms, or some might know me as grabhanem from other places.
                This is a site where all of my various projects live in various
                states of completeness and documentation. I have a variety of
                hobbies which will all probably end up here at some time or other,
                including retro and homebrew computing, game development, model
                rocketry, and music.
            </p>
            <p>
                Currently, there is a lot of stuff in the backlog to be written up
                here, so the site might look a little empty. Worry not - more will
                come soon.
            </p>
        </div>
    </body>
</html>