<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Projects - LithosphereRocketry</title>
        <embed-file src="parts/pghead.html"></embed-file>
    </head>
    <body>
        <embed-file src="parts/header.html"></embed-file>
        <div class="article-body">
            <h1>Projects</h1>
            <div class="grid">
                <a class="grid-item" href="website.html">
                    <img src="media/thumbnails/website.png">
                    <h4 class="caption">The Website</h4>
                    <p class="caption">How I built this website.</p>
                </a>
            </div>
        </div>
    </body>
</html>