<!DOCTYPE html>
<html lang="en">
    <head>
        <embed-file src="parts/pghead.html"></embed-file>
    </head>
    <body>
        <embed-file src="parts/header.html"></embed-file>
        <div class="article-body">
            <h1>Projects</h1>
            <div class="grid">
                <a class="grid-item" href="website.html">
                    <img src="media/thumbnails/website.png">
                    <h4 class="caption">The Website</h4>
                    <p class="caption">How I built this website.</p>
                </a>
                <a class="grid-item" href="nandy.html">
                    <img src="media/thumbnails/nandy.png">
                    <h4 class="caption">NANDy</h4>
                    <p class="caption">8-bit CPU made of NAND gates, for some
                        reason.</p>
                </a>
            </div>
        </div>
    </body>
</html>